.following.bar.light {
  background: #010409 none repeat scroll 0% 0%;
  border-color: #0000;
}
footer {
  opacity: 0.5;
  transition: opacity 0.1s ease 0s;
}
footer:hover {
  opacity: 0.9;
}
.dashboard.feeds .right.stackable.menu > .item.active, .dashboard.issues .right.stackable.menu > .item.active {
  color: var(--color-primary);
}
.repository.file.list #repo-files-table tr {
  background: var(--color-box-header);
}
.repository #clone-panel input {
  text-overflow: ellipsis;
  overflow: hidden;
}
.repository.file.list #repo-files-table thead th {
  background-color: var(--color-box-body);
}
:root {
  color-scheme: dark;
  --color-body: #0d1117;
  --color-box-header: #0d1117;
  --color-box-body: #161b22;
  --color-active: #30363b;
  --color-menu: #010409;
  --color-navbar: #010409;
  --color-nav-bg: #010409;
  --color-footer: #0d1117;
  --color-header-wrapper: #010409;
  --color-input-background: #010409;
  --color-diff-removed-row-bg: rgba(248, 81, 73, 0.15);
  --color-diff-added-row-bg: rgba(46, 160, 67, 0.15);
  --color-expand-button: rgba(56, 139, 253, 0.4);
  --color-diff-inactive: rgba(24, 24, 26, 0.1);
  --color-primary: #58a6ff;
  --color-primary-dark-1: #3392ff;
  --color-primary-dark-2: #6db1ff;
  --color-primary-dark-3: #81bcff;
  --color-primary-dark-4: #a4ceff;
  --color-primary-dark-5: #bddcff;
  --color-primary-dark-6: #d8eaff;
  --color-primary-dark-7: #f8fbff;
  --color-primary-light-1: #4f94e3;
  --color-primary-light-2: #4483ca;
  --color-primary-light-3: #3669a4;
  --color-primary-light-4: #274b75;
  --color-primary-light-5: #203c5b;
  --color-primary-light-6: #101f2f;
  --color-primary-light-7: #08101a;  
  --color-primary-alpha-10: #58a6ff19;
  --color-primary-alpha-20: #58a6ff33;
  --color-primary-alpha-30: #58a6ff4b;
  --color-primary-alpha-40: #58a6ff66;
  --color-primary-alpha-50: #58a6ff80;
  --color-primary-alpha-60: #58a6ff99;
  --color-primary-alpha-70: #58a6ffb3;
  --color-primary-alpha-80: #58a6ffcc;
  --color-primary-alpha-90: #58a6ffe1;
  --color-secondary: #30363d;
  --color-text-muted: #7d8590;
  --color-text: rgb(230, 237, 243);
  --color-text-light: rgb(230, 237, 243);
  --color-input-text: rgb(230, 237, 243);
  --color-error-text: rgb(248, 81, 73);
  --color-error-border: rgba(248, 81, 73, 0.5);
  --color-nav-hover-bg: rgba(177, 186, 196, 0.12);
  --color-hover: rgba(177, 186, 196, 0.12);
  --color-button: #21262d;
  --color-secondary-alpha-60: #161b22;
  --color-secondary-alpha-50: #21262d;
  --color-label-bg: rgb(33, 38, 45);
  --color-label-hover-bg: rgba(177, 186, 196, 0.12);
  --color-label-text: rgb(230, 237, 243);
}
.ui.menu {
  margin: 0px;
}
.navbar-left {
  flex: 1 1 auto;
}
#navbar {
  min-height: 64px;
}
.navbar-right {
  flex: 0 1 auto;
  padding-right: 11px;
}
.ui.secondary.menu {
  margin-left: 0;
  margin-right: 0;
}
.labels > .ui.label {
  height: 20px;
  line-height: 0.6;
  border-radius: 10px !important;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-text-muted);
}
.tippy-box {
  color: var(--color-text);
  background-color: var(--color-text-muted) !important;
}
/* .tippy-svg-arrow-outer {
  fill:var(--color-text-muted) !important;
} */
.tippy-svg-arrow-inner {
  fill:var(--color-text-muted) !important;
}
.ui.segment, .ui.segments, .ui.attached.segment {
  background: var(--color-box-header);
}
.repository.file.list #repo-files-table tr:hover {
  background-color: var(--color-box-body);
}
.repository.new.issue .comment.form .content::after {
    border-right-color: var(--color-body);
}
.ui.segment .ui.tabular.menu .active.item, .ui.segment .ui.tabular.menu .active.item:hover {
  background: var(--color-body);
}
markdown-toolbar svg {
  color: var(--color-text-muted);
}
markdown-toolbar svg:hover {
  color: var(--color-primary);
}
.ui.tabular.menu .active.item {
  margin-bottom: -1px;
}
.ui.grey.labels .label, .ui.ui.ui.grey.label {
  background-color: rgb(45, 45, 45);
}
.ui.red.labels .label, .ui.ui.ui.red.label {
  background-color: #f85149;
}
.ui.secondary.menu .item {
  transition: color,background 0.1s ease 0s;
}
.feeds .list ul li.private {
  background: #010409 none repeat scroll 0% 0%;
}
.ui.green.button, .ui.green.buttons .button {
  background-color: #238636;
}
.ui.green.button:hover, .ui.green.buttons .button:hover {
  background-color: #2ea043;
}
.ui.red.button, .ui.red.buttons .button {
  background-color: #d23636;
}
.ui.red.button:hover, .ui.red.buttons .button:hover {
  background-color: #e35353;
}
.ui.green.label, .ui.green.labels .label, .ui.basic.green.label {
  background-color: #238636 !important;
}
.tag-code, .tag-code td {
  background: rgba(56, 139, 253, 0.15) !important;
}
.tag-code td.lines-num {
  background-color: rgba(56, 139, 253, 0.4) !important;
}
table.chroma > tbody {
  background-color: #0d1117;
}
tr.same-code {
  background-color: #0d1117;
}
.lines-code {
  background-color: var(--color-diff-inactive);
}
tr.add-code > td:nth-child(1) {
  background-color: rgba(63, 185, 80, 0.3);
}
tr.add-code > td:nth-child(2) {
  background-color: rgba(63, 185, 80, 0.3);
}
tr.del-code > td:nth-child(1) {
  background-color: rgba(248, 81, 73, 0.3);
}
tr.del-code > td:nth-child(2) {
  background-color: rgba(248, 81, 73, 0.3);
}
.ui.primary.sha.label {
  background-color: var(--color-primary-alpha-30) !important;
}
.lines-num.lines-num-old.del-code, .lines-type-marker.lines-type-marker-old.del-code, .lines-num.lines-num-old, .lines-type-marker.lines-type-marker-old {
  background-color: rgba(248, 81, 73, 0.3) !important;
}
.lines-num.lines-num-new.add-code, .lines-type-marker.lines-type-marker-new.add-code, .lines-num.lines-num-new, .lines-type-marker.lines-type-marker-new {
  background-color: rgba(63, 185, 80, 0.3) !important;
}
.repository .diff-file-box .code-diff tbody tr .lines-type-marker {
  padding-right: 8px !important;
}
@media only screen and (min-width: 768px){
  .issue .ui.segment.metas {
    position: sticky;
    top: 25px;
    max-height: 100vh;
    overflow: scroll;
    padding-bottom: 40px;
  }
}
.issue-item-top-row .ui.label {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0.2em 0.5em;
  opacity: 0.8;
  transition: opacity 0.1s ease 0s;
}
.issue-item-top-row .ui.label:hover {
  opacity: 1.0;
}
::-moz-selection { /* Code for Firefox */
  background: #5e96bb;
}
::selection {
  background: #5e96bb;
}
.feeds .list .repo-owner-name-list .item-name {
  max-width: 90% !important;
}
del {
  opacity: .7;
}
h1 > del {
  text-decoration-thickness: 5px;
}
h2 > del {
  text-decoration-thickness: 5px;
}
h3 > del {
  text-decoration-thickness: 3px;
}
h4 > del {
  text-decoration-thickness: 2px;
}
h5 > del {
  text-decoration-thickness: 1px;
}
h6 > del {
  text-decoration-thickness: 1px;
}
.ui.message.unicode-escape-prompt {
  opacity: .5;
}
.ui.message.unicode-escape-prompt:hover {
  opacity: 1.0;
}
div.ui.secondary.vertical.filter.menu {
  border: #010409 solid 8px;
  border-radius: 10px;
}
.ui.basic.primary.button, .ui.basic.primary.buttons .button, .ui.primary.button, .ui.primary.buttons .button {
  background-color: #1f6feb !important;
}
.ui.basic.primary.button:hover, .ui.basic.primary.buttons .button:hover, .ui.primary.button:hover, .ui.primary.buttons .button:hover {
  background-color: var(--color-primary-dark-1) !important;
}
.feeds .list ul li .repo-list-link .svg {
  margin-right: 3px;
}
.repo-title > a:nth-child(4) {
  font-weight: bold;
}
.ui.repo-topic.large.label.topic, .ui.small.label.topic {
  background: #13233a;
  color: #58a6ff;
  border-radius: 10px;
}
.repository.file.list #repo-files-table tbody .svg.octicon-file-directory-fill, .repository.file.list #repo-files-table tbody .svg.octicon-file-submodule {
  color: unset;
}
.ui.attached.table.unstackable.segment {
  border-radius: 0px 0px 5px 5px;
}
.ui.tertiary.button {
  color: #58a6ff;
}
.ui.tertiary.button:hover {
  color: #8bc1ff;
}
.ui.selection.dropdown {
  background: #0d1117;
}
.ui.selection.dropdown:hover {
  background: #0d1117;
}
.ui.error.header {
  background: unset !important;
}
.ui.error.message, .ui.attached.error.message, .ui.red.message, .ui.attached.red.message, .ui.negative.message, .ui.attached.negative.message {
  background: rgba(248, 81, 73, 0.1);
}
.ui.modal > .header {
  color: var(--color-text);
}
.ui.modal > .actions, .ui.modal .content + .actions, .ui.modal .content + form > .actions {
  background: var(--color-body);
}
.ui.button, .ui.button:focus {
  border: 1px solid rgba(238, 244, 250, 0.105);
}
.ui.button:hover {
    background: var(--color-active);
    border: 1px solid rgba(238, 244, 250, 0.48);
}
.small-menu-items .item {
  background: var(--color-body) !important;
}
.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover, .ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu a.item:hover {
  color: var(--color-text);
}
.ui.list > .item a, .ui.list .list > .item a {
  overflow: auto;
}

.repo-buttons .ui.labeled.button > .label {
  border-color: rgba(238, 244, 250, 0.105);
}
.repo-buttons .ui.labeled.button > .label:hover {
  color: var(--color-text);
  background: var(--color-active);
}
.ui.basic.buttons .button:hover, .ui.basic.button:hover {
  color: var(--color-text);
  background: var(--color-active);
}

@import url("/assets/css/index.css");
